/* added the background size contain and centered to make it fit the whole background*/
body {
  background-image: url(../images/desert-background-simple-game-level-location-concept-hd-looping-animation_rfgqov0se_thumbnail-full01.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.play {

  width: 100%;
  margin-top: 25%;
  margin-left:10%;
  box-shadow: 5px;
}

#play:hover {
  display: hidden;
}

.my-border {
  border: 5px solid black;
  border-radius: 10px;
}

#manlocation {
  position: relative;
  bottom: 60%;
  left: 20%;
  z-index: 3;
}



@media screen and (max-width: 980px) {
  #manlocation {
    position: relative;
    bottom: 54%;
    left: 15%;
    z-index: 3;
  }
}

@media screen and (max-width: 720px) {
  #manlocation {
    position: relative;
    bottom: 54%;
    left: 5%;
    z-index: 3;
  }

#mybutton {
  background-color: transparent;
}
